<div class="contents">
  <% @tweets.each do |tweet| %>
    <div class="content">
      <p><%= tweet.title %></p>
      <span class="content-text">
        <%= tweet.content %>
        <%
=begin%>
 <%=image_tag tweet.image %> 
<%
=end%>
      </span>
    </div>
  <% end %>
</div>