<div class="contents">
  <% @tweets.each do |tweet| %>
    <div class="content">
      <p><%= tweet.title %></p>
      <span class="content-text">
        <%= tweet.content %>
        <% if tweet.image.attached? %>
          <%=image_tag tweet.image, width: "100px" %> 
        <% end %>
      </span>
    </div>
  <% end %>
</div>