<div class="contents">
  <% @tweets.each do |tweet| %>
    <div class="content-title content">
      <p><%= tweet.title %></p>
      <span class="content-text content">
        <%= tweet.content %>
      </span>
      <% if tweet.image.attached? %>
        <span class="content-image content">
          <%= image_tag tweet.image, width: "150px" %> 
        </span>
      <% end %>
      <%= link_to "削除", tweet_path(tweet.id), method: :delete %>
    </div>
  <% end %>
</div>