<div class="post-container">
  <div class="post-title">
    <h1>投稿する</h1>
  </div>
  <div class="post-field">
    <%= form_with(model: @tweet, local: true) do |form| %>
      <%= render partial: "form", locals: { form: form } %>
    <% end %>
  </div>
</div>