<div class="account-container">
  <div class="account-info-title">
    <h1>アカウント情報</h1>
  </div>

  <div class="account-info">
    <p id="name">&nbsp;お名前：</p>
    <p id="user-name">&nbsp;<%= current_user.name %></p>
    <p id="email">&nbsp;Eメール：</p>
    <p id="user-email">&nbsp;<%= current_user.email %></p>
  </div>

  <div class="links">
    <div class="edit-link">
      <%= link_to "アカウントを更新する", edit_user_registration_path %>
    </div>
    <div class="delete-link">
      <%= link_to "アカウントを削除する", user_registration_path(current_user.id), data: {confirm: "アカウントを削除します。本当によろしいですか？" }, method: :delete %>
    </div>
  </div>
</div>

